body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto; /* Adjust the margin as needed */
  }
  
  .products {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .products {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .product {
    position: relative; /* Needed for overlay effect */
    border-radius: 15px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: filter 0.3s ease-in-out; /* Transition for brightness effect */
  }
  
  .product img {
    width: 90%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .product:hover {
    filter: brightness(110%); /* Adjust brightness value as desired */
  }
  
  .description {
    text-align: center;
    margin-top: 10px;
  }
  
  .description h3 {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  
  .description p {
    color: #555;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 8px 15px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    border-color: transparent;
  }
  
/* Add these styles to your existing CSS file */

.pagination-buttons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 20px;
  margin-right: 20px; /* Add more space to the right */
}

.pagination-buttons button {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 120px; /* Increase button width */
  padding: 10px 15px; /* Increase button padding */
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  margin-left: 15px; /* Adjust spacing between buttons */
}

.pagination-buttons button:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  border-color: transparent;
}

/* Styling for "No more items" message */
.no-more-items {
  text-align: center;
  font-style: italic;
  color: #888; /* Adjust the color as needed */
  font-weight: bold; /* Make "No more items" bold */
  font-size: 5rem; /* Increase font size */
  margin-top: 30px; /* Increase top margin */
}
@media screen and (max-width: 767px) {
  .pagination-buttons {
    justify-content: center; /* Align buttons to the center for smaller screens */
    margin: 20px 0; /* Adjust margin for spacing */
  }

  .pagination-buttons button {
    margin-left: 10px;
  }
}